@model Cinema.Data.Database.Session

@{
    ViewBag.Title = $"{Model.Movie.Name} {Model.DateTime.ToShortTimeString()}";

    var seatList = Model.TicketPrices.Select(x => x.Seat.SeatStyle);
    var seatContainerWidth = (seatList.Max(x => x.PositionX) - seatList.Min(x => x.PositionX) + 3).ToString(System.Globalization.CultureInfo.InvariantCulture) + "em";
    var seatContainerWidthDouble = (seatList.Max(x => x.PositionX) - seatList.Min(x => x.PositionX) + 3);
    var seatContainerHeight = (seatList.Max(x => x.PositionY) - seatList.Min(x => x.PositionY) + 4).ToString(System.Globalization.CultureInfo.InvariantCulture) + "em";
    var seatContainerHeightDouble = (seatList.Max(x => x.PositionY) - seatList.Min(x => x.PositionY) + 4);
}


<div class="bg-100-image" style="background: url(@Model.Movie.BackgroundPath) no-repeat center center fixed;"></div>
<div class="bg-100-color" style="background-color:rgba(10,8,19,.9);"></div>
<div class="container-fluid text-white position-relative">
    <div class="d-flex flex-column flex-md-row w-100 justify-content-between p-md-2">
        <div>
            <h2 style="color:#ffff00" class="d-inline-block">
                <span class="icon-film"></span> @Model.Movie.Name
            </h2>
            <span>(кінотеатр @Model.CinemaHall.Cinema.Name | зал "@Model.CinemaHall.Name")</span>
        </div>
        <span style="font-size:25px">@Model.DateTime.ToShortDateString() <span class="font-weight-bold" style="color:#ffff00">@Model.DateTime.ToShortTimeString()</span></span>
    </div>
    <div class="row m-md-2">
        <div class="col-md-8 m-0 p-0">
            <div class="session-container">
                <div id="session" class="sum-seat-container" data-session-id="@Model.Id">
                    <div class="seat-screen">Е К Р А Н</div>
                    <div class="seat-container" style="width: @(seatContainerWidth); height: @(seatContainerHeight)">
                        @{
                            foreach (var ticketPrice in Model.TicketPrices)
                            {
                                string seatLeft = ticketPrice.Seat.SeatStyle.PositionX.ToString(System.Globalization.CultureInfo.InvariantCulture);
                                string seatTop = ticketPrice.Seat.SeatStyle.PositionY.ToString(System.Globalization.CultureInfo.InvariantCulture);
                                string isFree = (ticketPrice.Ticket == null) ? "place-free" : "place-taken";

                                <div class="seat @ticketPrice.Seat.SeatType.Keyword @isFree"
                                     data-row="@ticketPrice.Seat.Row"
                                     data-number="@ticketPrice.Seat.Number"
                                     data-price="@ticketPrice.Price"
                                     style="left: @(seatLeft)em; top: @(seatTop)em"></div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <form id="form-buy" method="post" action="@Url.Action("Processed","Order")">
                <div id="cart">
                    <h3>Обрані місця</h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ряд</th>
                                <th>Місце</th>
                                <th>Ціна</th>
                            </tr>
                        </thead>
                        <tbody id="tickets-cart"></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th id="cart-price">0 грн</th>
                            </tr>
                        </tfoot>
                    </table>
                    @*<div id="tickets-cart" class="container">
                        </div>*@
                    @*<div id="cart-count"></div>*@
                </div>
                <input type="hidden" name="session_id" value="@Model.Id" />
                @*<div id="cart-price"></div>*@
                <button type="button" id="buy" class="btn yellow-btn">Далі</button>
            </form>
        </div>
    </div>
</div>

@*<div class="ticket-item" data-row="1" data-number="1" style="border-bottom:1px solid black">
        <div class="ti-row">Ряд:     1</div>
        <input type="hidden" name="selected_seats[].row" value="1"/>
        <div class="ti-number">Місце:   1</div>
        <input type="hidden" name="selected_seats[].number" value="1"/>
    </div>
    <div class="ticket-item" data-row="2" data-number="4" style="border-bottom:1px solid black">
        <div class="ti-row">Ряд:     2</div>
        <input type="hidden" name="selected_seats[].row" value="2"/>
        <div class="ti-number">Місце:   4</div>
        <input type="hidden" name="selected_seats[].number" value="4"/>
    </div>*@

@section scripts
{
    <script>
        var tickets = [];
        $(".seat").click(function (e) {
            if ($(this).hasClass("place-taken")) {
                return false;
            }
            if (tickets.length >= 10) {
                alert("ти можеш вибрати до 10 квитків");
                return false;
            }

            var seatRow = $(this).attr("data-row");
            var seatNumber = $(this).attr("data-number");
            var seatPrice = $(this).attr("data-price");

            if ($(this).hasClass("place-choosen")) {
                tickets = tickets.filter(function (el) {
                    return el.row !== seatRow || el.number !== seatNumber;
                });
                $(".ticket-item[data-row='" + seatRow + "'][data-number='" + seatNumber + "']").remove();
                $(this).removeClass("place-choosen").addClass("place-free");
            } else {
                // ticket container:
                $("<tr/>", { class: "ticket-item", 'data-row': seatRow, 'data-number': seatNumber, style: "border-color:#ffff00" })
                    .append($("<td/>")
                        .append($("<div/>", { class: "ti-row", text: seatRow }))
                        .append($("<input/>", { type: "hidden", name: "selected_seats[].row", value: seatRow }))
                    )
                    .append($("<td/>")
                        .append($("<div/>", { class: "ti-number", text: seatNumber }))
                        .append($("<input/>", { type: "hidden", name: "selected_seats[].number", value: seatNumber }))
                    )
                    .append($("<td/>", { text: +seatPrice / 100 }))
                    .appendTo("#tickets-cart");

                tickets.push({ row: seatRow, number: seatNumber, price: seatPrice });
                $(this).removeClass("place-free").addClass("place-choosen");
            }

            $("#cart-count").text(tickets.length);
            var cartPrice = 0;
            $.each(tickets, function () {
                cartPrice += parseInt(this.price);
            });
            $("#cart-price").text(cartPrice / 100 + " грн");
        });


        function indexingFormData() {
            var itemIterator = 0;
            $("#tickets-cart").children(".ticket-item").each(function () {
                $(this).children("td").each(function () {
                    $(this).children("input[type='hidden']").each(function () {
                        $(this).attr("name", $(this).attr("name").replace("[]", "[" + itemIterator + "]"));
                    });
                });
                itemIterator++;
            });
        }

        $("#buy").click(function (e) {
            //var itemIterator = 0;
            //$("#tickets-cart").children(".ticket-item").each(function () {
            //    $(this).children("input[type='hidden']").each(function () {
            //        $(this).attr("name", $(this).attr("name").replace("[]", "[" + itemIterator + "]"));
            //    });
            //    itemIterator++;
            //});
            indexingFormData();
            $("#form-buy").submit();
            //window.location.href = "Url.Action("BuyTickets","Order")/?" + $.param({ selected_seats: tickets, session_id: $("#session").attr("data-session-id") });
        })
    </script>
}