@model Cinema.Data.Database.Session

@{
    ViewBag.Title = $"{Model.Movie.Name} {Model.DateTime.ToShortTimeString()}";

    var seatList = Model.TicketPrices.Select(x => x.Seat.SeatStyle);
    var seatContainerWidth = (seatList.Max(x => x.PositionX) - seatList.Min(x => x.PositionX) + 3).ToString(System.Globalization.CultureInfo.InvariantCulture) + "em";
    var seatContainerWidthDouble = (seatList.Max(x => x.PositionX) - seatList.Min(x => x.PositionX) + 3);
    var seatContainerHeight = (seatList.Max(x => x.PositionY) - seatList.Min(x => x.PositionY) + 4).ToString(System.Globalization.CultureInfo.InvariantCulture) + "em";
    var seatContainerHeightDouble = (seatList.Max(x => x.PositionY) - seatList.Min(x => x.PositionY) + 4);
}


<div class="bg-100-image" style="background: url(@Model.Movie.BackgroundPath) no-repeat center center fixed;"></div>
<div class="bg-100-color" style="background-color:rgba(10,8,19,.9);"></div>
<div class="session-wrapper position-relative">
    <div class="cinema-info-background-container ">
        <div class="container d-flex flex-column justify-content-center h-100">
            <div class="d-flex flex-column justify-content-center align-items-center">
                @*<div style="font-size:17.5px">Кінотнатр TRAEKTORIA</div>*@
                <h1 class="ci-cinema-name display-4">@Model.Movie.Name</h1>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="text-right">
                    <div class="ci-main">Зал @Model.CinemaHall.Name</div>
                    <div class="ci-muted">@Model.CinemaHall.Cinema.Name</div>
                </div>
                <div>
                    <div class="ci-main">@Model.DateTime.ToShortTimeString()</div>
                    <div class="ci-muted">@Model.DateTime.ToShortDateString()</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white">
        <div class="row m-md-2">
            <div class="col-md-8 m-0 p-0">
                <div class="session-container">
                    <div id="session" class="sum-seat-container" data-session-id="@Model.Id">
                        <div class="seat-screen">Е К Р А Н</div>
                        <div class="seat-container" style="width: @(seatContainerWidth); height: @(seatContainerHeight)">
                            @{
                                foreach (var ticketPrice in Model.TicketPrices)
                                {
                                    string seatLeft = ticketPrice.Seat.SeatStyle.PositionX.ToString(System.Globalization.CultureInfo.InvariantCulture);
                                    string seatTop = ticketPrice.Seat.SeatStyle.PositionY.ToString(System.Globalization.CultureInfo.InvariantCulture);
                                    string isFree = (ticketPrice.Ticket == null) ? "place-free" : "place-taken";

                                    <div class="seat @ticketPrice.Seat.SeatType.Keyword @isFree"
                                         data-row="@ticketPrice.Seat.Row"
                                         data-number="@ticketPrice.Seat.Number"
                                         data-price="@ticketPrice.Price"
                                         style="left: @(seatLeft)em; top: @(seatTop)em"></div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <form id="form-buy" method="post" action="@Url.Action("Processed","Order")">
                    <div id="cart">
                        <h3>Обрані місця</h3>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ряд</th>
                                    <th>Місце</th>
                                    <th>Ціна</th>
                                </tr>
                            </thead>
                            <tbody id="tickets-cart"></tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th id="cart-price">0 грн</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <input type="hidden" name="session_id" value="@Model.Id" />
                    @*<div id="cart-price"></div>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" id="buy" class="btn yellow-btn">Далі</button>
                    }
                    else
                    {
                        <a href="@(User.Identity.IsAuthenticated ? "#" : Url.Action("Login", "Account", new { returnUrl = Url.Action("Details", "Session", new { id = Model.Id }) }))" id="buy" class="btn yellow-btn">Далі</a>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @*<script src="~/Scripts/jquery-2.2.2.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(function () {
            function FetchTickets() {
            $.ajax({
                url: '/Ticket/GetTicketsBySession/',
                //contentType: 'application/json',
                type: 'POST',
                //dataType: 'json',
                data:{id:@Model.Id},
                success: function (result) {
                    // перевіряю, чи звільнились зайняті місця
                    $(".seat.place-taken").each(function () {
                        var thisRow = $(this).attr("data-row");
                        var thisNumber = $(this).attr("data-number");

                        var resultgrep = $.grep(result, function (e) { return e.Row == thisRow && e.Number == thisNumber; });
                        //console.log(resultgrep);
                        if (!resultgrep.length) {
                            $(this).removeClass("place-taken").addClass("place-free")
                        }
                    });
                    // перевіряю, чи зайняли вільні місця
                    $.each(result, function () {
                        var resultRow = this["Row"];
                        var resultNumber = this["Number"];

                        var choosenPlace = $(".seat.place-choosen[data-row='" + resultRow + "'][data-number='" + resultNumber + "']");
                        // якщо місце вже вибране
                        if (choosenPlace.length) {
                            tickets = tickets.filter(function (el) {
                                return el.row != resultRow || el.number != resultNumber;
                            });
                            $(".ticket-item[data-row='" + resultRow + "'][data-number='" + resultNumber + "']").remove();
                            $(choosenPlace).removeClass("place-choosen").addClass("place-taken");
                        }
                        $(".seat[data-row='" + resultRow + "'][data-number='" + resultNumber + "']").removeClass("place-free").addClass("place-taken");
                    });

                    
                    var cartPrice = 0;
                    $.each(tickets, function () {
                        cartPrice += parseInt(this.price);
                    });
                    $("#cart-price").text(cartPrice / 100 + " грн");
                    //console.log(result);
                },
                fail: function (data) {
                    console.log(data)
                }
            });
            };
            // Create a proxy to signalr hub on web server. It reference the hub.
            var notificationFromHub = $.connection.ticketHub;

            // Connect to signalr hub
            $.connection.hub.start().done(function () {
                //alert("connection started")
                FetchTickets();
            }).fail(function (e) {
                alert(e);
            });

            // Notify to client with the recent updates
            notificationFromHub.client.updatedClients = function () {
                FetchTickets();
            };
        });
            //var model = $('#dataTable');

        var tickets = [];
        $(".seat").click(function (e) {
            if ($(this).hasClass("place-taken")) {
                return false;
            }
            if (tickets.length >= 10) {
                alert("ти можеш вибрати до 10 квитків");
                return false;
            }

            var seatRow = $(this).attr("data-row");
            var seatNumber = $(this).attr("data-number");
            var seatPrice = $(this).attr("data-price");

            if ($(this).hasClass("place-choosen")) {
                tickets = tickets.filter(function (el) {
                    return el.row !== seatRow || el.number !== seatNumber;
                });
                $(".ticket-item[data-row='" + seatRow + "'][data-number='" + seatNumber + "']").remove();
                $(this).removeClass("place-choosen").addClass("place-free");
            } else {
                // ticket container:
                $("<tr/>", { class: "ticket-item", 'data-row': seatRow, 'data-number': seatNumber, style: "border-color:#ffff00" })
                    .append($("<td/>")
                        .append($("<div/>", { class: "ti-row", text: seatRow }))
                        .append($("<input/>", { type: "hidden", name: "selected_seats[].row", value: seatRow }))
                    )
                    .append($("<td/>")
                        .append($("<div/>", { class: "ti-number", text: seatNumber }))
                        .append($("<input/>", { type: "hidden", name: "selected_seats[].number", value: seatNumber }))
                    )
                    .append($("<td/>", { text: +seatPrice / 100 + " грн" }))
                    .appendTo("#tickets-cart");

                tickets.push({ row: seatRow, number: seatNumber, price: seatPrice });
                $(this).removeClass("place-free").addClass("place-choosen");
            }
            
            var cartPrice = 0;
            $.each(tickets, function () {
                cartPrice += parseInt(this.price);
            });
            $("#cart-price").text(cartPrice / 100 + " грн");
        });


        function indexingFormData() {
            var itemIterator = 0;
            $("#tickets-cart").children(".ticket-item").each(function () {
                $(this).children("td").each(function () {
                    $(this).children("input[type='hidden']").each(function () {
                        $(this).attr("name", $(this).attr("name").replace("[]", "[" + itemIterator + "]"));
                    });
                });
                itemIterator++;
            });
        }

        $("#buy").click(function (e) {
            //var itemIterator = 0;
            //$("#tickets-cart").children(".ticket-item").each(function () {
            //    $(this).children("input[type='hidden']").each(function () {
            //        $(this).attr("name", $(this).attr("name").replace("[]", "[" + itemIterator + "]"));
            //    });
            //    itemIterator++;
            //});
            indexingFormData();
            $("#form-buy").submit();
            //window.location.href = "Url.Action("BuyTickets","Order")/?" + $.param({ selected_seats: tickets, session_id: $("#session").attr("data-session-id") });
        })
    </script>
}