@model Cinema.Data.Database.Session

@{
    ViewBag.Title = $"{Model.Movie.Name} {Model.DateTime.ToShortTimeString()}";

    var seatList = Model.TicketPrices.Select(x => x.Seat.SeatStyle);
    var seatContainerWidth = (seatList.Max(x => x.PositionX) - seatList.Min(x => x.PositionX) + 3).ToString(System.Globalization.CultureInfo.InvariantCulture) + "em";
    var seatContainerHeight = (seatList.Max(x => x.PositionY) - seatList.Min(x => x.PositionY) + 4).ToString(System.Globalization.CultureInfo.InvariantCulture) + "em";
}

<h2>
    <span>@Model.Movie.Name</span>
    <span class="float-right">@Model.DateTime.ToShortTimeString() @Model.DateTime.ToShortDateString()</span>
</h2>

<div class="sum-seat-container">
    <div class="seat-screen">Е К Р А Н</div>
    <div class="seat-container" style="width: @(seatContainerWidth); height: @(seatContainerHeight)">
        @foreach (var ticketPrice in Model.TicketPrices)
            {
            <div class="seat @ticketPrice.Seat.SeatType.Keyword" style="left: @(ticketPrice.Seat.SeatStyle.PositionX.ToString(System.Globalization.CultureInfo.InvariantCulture))em; top: @(ticketPrice.Seat.SeatStyle.PositionY.ToString(System.Globalization.CultureInfo.InvariantCulture))em"></div>
        }
    </div>
</div>