@model Cinema.DbLayer.TicketPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seat.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
