@model Cinema.DbLayer.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgeRating.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeRating.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Script)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Script)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Starring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Starring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosterPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosterPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
