
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAEKTORIA - Мережа кінотеатрів України</title>
    <link href="~/Content/WebsiteImage/Logo/logo.png" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home-body h-100">
    <nav class="home-navbar d-flex flex-row justify-content-between align-items-center text-center p-3 ">
        <a href="#" class="home-nav-item"></a>
        <a href="/" class="logo-full d-block"></a>
        <a href="#" class="home-nav-item"></a>
    </nav>
    <div class="home-container d-flex flex-column justify-content-between text-center mx-auto">
        <div class="logo-small"></div>
        <div class="home-main-menu">
            <a href="@Url.Action("Index", "Cinema")" class="home-btn d-block p-2">Обрати кінотеатр</a>
            <a href="@Url.Action("Index", "Movie")" class="home-btn d-block p-2">Обрати фільм</a>
        </div>        
        <div class="home-additional-menu d-flex justify-content-center m-3">
            <a class="home-nav-item d-inline-block"></a>
            <a class="home-nav-item d-inline-block"></a>
            <a class="home-nav-item d-inline-block"></a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
