<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TRAEKTORIA</title>
    <link href="~/Content/WebsiteImage/Logo/logo.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/Icon/icomoon/style.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="">
    <nav class="navbar main-header navbar-expand-lg sticky-top navbar-dark">
        <div class="navbar-brand">
            <a href="/">
                <img src="~/Content/WebsiteImage/Logo/logo-fat.svg" width="45" height="45" class="d-inline-block align-top" alt="">
            </a>
        </div>

        <ul class="navbar-nav mr-auto main-header">
            <li class="nav-item">
                <div class="menu-btn" style="cursor: pointer">
                    <i class="icon-main-menu menu-img"></i>
                    <img class="menu-full-logo-img collapsible" src="~/Content/WebsiteImage/Logo/full_logo.svg" height="22" />
                </div>
            </li>
            @if (ViewContext.RouteData.Values["controller"].ToString().ToLower() == "movie")
            {
                if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "index")
                {
                    <li class="nav-item collapsible">
                        <div class="header-title">
                            <a class="header-item" href="@Url.Action("Index","Movie")">
                                <div class="icon-chevron-right"></div>
                                <h1>@ViewBag.Title</h1>
                            </a>
                        </div>
                    </li>
                }
            }
        </ul>
        <ul class="navbar-nav" style="line-height:unset">
            <li class="nav-item collapsible">
                <div class="btn-group">
                    <div class="menu-header-cinema-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="d-inline-block chevron-down-btn-wrapper">
                            <div class="d-block chevron-down-container">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right menu-header-cinema-dropdown" style="left:0; top:50px;">
                    </div>
                </div>
            </li>
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $.post("@Url.Action("GetCinemaJson", "Cinema")", function (data) {
                var dropItems = $(".menu-header-cinema-dropdown");
                    for (var key in data) {
                        dropItems.append($("<div/>", { href: "/Cinema/Details/"+data[key].Keyword, class: "dropdown-item", 'data-id':data[key].Id, text: data[key].Name }));
                }

                @if (Request.Cookies["SeletedCinemaId"] == null)
                {
                    HttpCookie cookieCinema = new HttpCookie("SeletedCinemaId");
                    Response.Cookies.Remove("SeletedCinemaId");
                    cookieCinema.Value = "1";
                    Response.SetCookie(cookieCinema);
                }

                @{var cookieValue = Request.Cookies.Get("SeletedCinemaId").Value;}
                var child = dropItems.children(".dropdown-item[data-id='" + @cookieValue + "']").addClass("active");
                $(".menu-header-cinema-btn").prepend($("<span/>", { text: child.text(), id: "menu-header-cinema-selected" }));

                $(".dropdown-item").click(function () {
                    var self = this;
                    $.post("@Url.Action("ChangeCinemaCookie", "Cinema")", { id: $(this).attr("data-id") }, function () {
                    window.location.href = $(self).attr("href");
                });
            })
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
