@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("Age Rating", "Index", "AgeRatings")</li>
        <li class="list-group-item">@Html.ActionLink("Cinema", "Index", "Cinemas")</li>
        <li class="list-group-item">@Html.ActionLink("Cinema Hall", "Index", "CinemaHalls")</li>
        <li class="list-group-item">@Html.ActionLink("City", "Index", "Cities")</li>
        <li class="list-group-item">@Html.ActionLink("Comment", "Index", "Comments")</li>
        <li class="list-group-item">@Html.ActionLink("Comment Type", "Index", "CommentTypes")</li>
        <li class="list-group-item">@Html.ActionLink("Movie", "Index", "Movies")</li>
        <li class="list-group-item">@Html.ActionLink("Order Item", "Index", "OrderItems")</li>
        <li class="list-group-item">@Html.ActionLink("Order", "Index", "Orders")</li>
        <li class="list-group-item">@Html.ActionLink("Seat Type", "Index", "SeatTypes")</li>
        <li class="list-group-item">@Html.ActionLink("Seat", "Index", "Seats")</li>
        <li class="list-group-item">@Html.ActionLink("Session", "Index", "Sessions")</li>
        <li class="list-group-item">@Html.ActionLink("Ticket", "Index", "Tickets")</li>
        <li class="list-group-item">@Html.ActionLink("Ticket Price", "Index", "TicketPrices")</li>
    </ul>
</div>