@model Cinema.Models.RegisterViewModel
@{
    ViewBag.Title = "Реєстрація";
}

<div class="bg-100-image"></div>
<div class="container text-center position-relative login-container">
    <h2 class="display-4">Реєстрація</h2>
    <div class="row justify-content-center align-content-center">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email,"Електронна пошта", new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password,"Пароль", new { @class = "control-label" })
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword,"Підтвердження паролю", new { @class = "control-label" })
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn yellow-btn" value="Зареєструватись" />
                </div>
            </div>
            <p>Вже маєш аккаунт? @Html.ActionLink("Увійди.", "Login")</p>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
