@model Cinema.Data.Database.CinemaEntity

@{
    ViewBag.Title = Model.Name;

    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("uk-UA");
    System.Globalization.DateTimeFormatInfo dtfi = ci.DateTimeFormat;
}

<div class="cinema-background-container" style="background:url(@Model.BackgroundPath) no-repeat center;"></div>
<div class="cinema-info-background-container">
    <div class="container d-flex flex-column justify-content-center h-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
            @*<div style="font-size:17.5px">Кінотнатр TRAEKTORIA</div>*@
            <h1 class="ci-cinema-name display-4">@Model.Name</h1>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div>
                <div class="ci-main">@Model.Address</div>
                <div class="ci-muted">@Model.City.Name</div>
            </div>
            <div class="text-right">
                <div class="ci-main">@Model.PhoneNumber</div>
                <div class="ci-muted">Контакт-центр</div>
            </div>
        </div>
    </div>
</div>

<div class="cinema-schedule-days-container">
    <div class="container">
        <h2 class="csd-header text-center">Розклад сеансів:</h2>
        <div class="d-flex justify-content-around csd-select-container">
            @{ var isFirst = true;}
            @foreach (var itemSessions in Model.CinemaHalls.SelectMany(x => x.Sessions.Where(xx => xx.DateTime > DateTime.Now)).OrderBy(x => x.DateTime).GroupBy(x => x.DateTime.Date))
            {
                var sessionDate = itemSessions.FirstOrDefault().DateTime;
                <div class="csd-day-container d-flex flex-column align-items-center @(isFirst?" csd-selected":"")" data-date="@sessionDate.ToShortDateString()">
                    <div class="text-center">
                        <div class="csd-date">@sessionDate.ToString("dd MMMM", ci)</div>
                        @if (sessionDate.Date == DateTime.Now.Date)
                        {
                            <div class="csd-day-of-week">Сьогодні</div>
                        }
                        else if (sessionDate.Date == DateTime.Now.AddDays(1).Date)
                        {
                            <div class="csd-day-of-week">Завтра</div>
                        }
                        else
                        {
                            <div class="csd-day-of-week text-capitalize">@dtfi.GetDayName(sessionDate.DayOfWeek)</div>
                        }
                    </div>
                    <div class="yellow-circle"></div>
                </div>
                isFirst = false;
            }
        </div>
    </div>
</div>

<div class="cinema-schedule-full-container">
    <div class="container">
        @{ isFirst = true;}
        @foreach (var itemSessions in Model.CinemaHalls.SelectMany(x => x.Sessions.Where(xx => xx.DateTime > DateTime.Now)).OrderBy(x => x.DateTime).GroupBy(x => x.DateTime.Date))
        {
            var sessionDate = itemSessions.FirstOrDefault().DateTime;
            <div class="row@(isFirst?" csf-selected":"") csf-data" data-date="@sessionDate.ToShortDateString()">
                @foreach (var itemMovies in itemSessions.Select(x => x.Movie).Distinct())
                {
                    <div class="csf-movie-container col-md-6">
                        <a href="#">
                            <div class="csf-movie-poster float-left" style="background:url(@itemMovies.PosterPath) no-repeat center;"></div>
                        </a>
                        <a href="@Url.Action("Details","Movie",new { id = itemMovies.Id })" class="csf-movie-name">@itemMovies.Name</a>
                        <div class="csf-movie-times">
                            @foreach (var itemMovieSession in itemMovies.Sessions.Intersect(itemSessions))
                            {
                                <a href="@Url.Action("Details","Session",new { id = itemMovieSession.Id })">@itemMovieSession.DateTime.ToShortTimeString()</a>
                            }
                        </div>
                    </div>
                }
            </div>
            isFirst = false;
        }
    </div>
</div>

<div class="cinema-contact-container">
    <div class="container">
        <h2 class="text-center h1">Як нас знайти?</h2>
        <div class="row">
            <div id="map" class="cimena-map-container col-lg-8 col-md-12"></div>
            <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-around" style="padding-left:50px; overflow:hidden;">
                <div class="ci-cinema-name display-3">@Model.Name</div>
                <div>
                    <div class="ci-main">@Model.Address</div>
                    <div class="ci-muted">@Model.City.Name</div>
                </div>
                <div>
                    <div class="ci-main">@Model.PhoneNumber</div>
                    <div class="ci-muted">Контакт-центр</div>
                </div>
            </div>
        </div>

        @if (!Model.Description.IsEmpty())
        {
            <div class="cinema-contact-description text-center">@Model.Description</div>
        }
    </div>
</div>

@section scripts{
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 40.674, lng: -73.945 },
                zoom: 18,
                styles: [
                    {
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#242f3e"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#746855"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#242f3e"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d59563"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.man_made",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#fff324"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d59563"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#263c3f"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#6b9a76"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#38414e"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#212a37"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9ca5b3"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#746855"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#1f2835"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#f3d19c"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#2f3948"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.station",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d59563"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#17263c"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#515c6d"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#17263c"
                            }
                        ]
                    }
                ]
            });
            var geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
            geocoder.geocode({ 'address': "@($"{Model.City.Name}, {Model.Address}")"}, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                        title: "@($"TRAEKTORIA {Model.Name}")"
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO0MhJPowgoy_eLp7IVZwh29e5VIlQXjQ&callback=initMap">
    </script>

    <script>
        $(function () {

            $(".csd-day-container").click(function () {
                if ($(this).hasClass("csd-selected"))
                    return false;

                $(this).siblings(".csd-selected").removeClass("csd-selected");
                $(this).addClass("csd-selected");

                var dataDate = $(this).attr("data-date");
                $(this).parents(".cinema-schedule-days-container").siblings(".cinema-schedule-full-container").find(".csf-data.csf-selected").removeClass("csf-selected").hide().siblings(".csf-data[data-date='" + dataDate + "']").addClass("csf-selected").show();
            })
        });
    </script>
}