@model Cinema.DbLayer.Ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderItem.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItem.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
