@model Cinema.DbLayer.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderItem.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItem.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
