@model Cinema.Data.Database.Movie
@{
    ViewBag.Title = Model.Name;

    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("uk-UA");
    System.Globalization.DateTimeFormatInfo dtfi = ci.DateTimeFormat;
}

<div class="bg-100-image" style="background: url(@Model.BackgroundPath) no-repeat center center fixed;"></div>
<div class="bg-100-color" style="background-color:rgba(10,8,19,.9);"></div>

<div class="container-fluid text-white position-relative">
    <div class="row movie-info-container">
        <div class="col-md-3 text-center">
            <div style="max-width:300px; margin: 0 auto">
                <img src="@Model.PosterPath" style="width:100%" />
            </div>
            @if (!Model.TrailerLink.IsEmpty())
            {
                <a href="@Model.TrailerLink" target="_blank" class="play-trailer-btn" style="max-width:300px; margin: 15px auto">
                    <div class="icon-play-trailer"></div>
                    <div>Дивитися трейлер</div>
                </a>
            }
        </div>
        <div class="col-md-6">
            <h1 class="display-4">@Model.Name</h1>
            <dl class="row" style="padding-top:15px">
                @{
                    if (Model.AgeRating != null)
                    {
                <dt class="col-md-4">Вік:</dt>
                <dd class="col-md-8">@Model.AgeRating.Name</dd>
                    }

                    if (Model.OriginalName != null)
                    {
                <dt class="col-md-4">Оригінальна назва:</dt>
                <dd class="col-md-8">@Model.OriginalName</dd>
                    }

                    if (Model.Director != null)
                    {
                <dt class="col-md-4">Режисер:</dt>
                <dd class="col-md-8">@Model.Director</dd>
                    }

                    if (Model.ShowStart != null)
                    {
                <dt class="col-md-4">Дата виходу:</dt>
                <dd class="col-md-8">@Model.ShowStart.Value.ToShortDateString()</dd>
                    }

                    if (Model.ShowEnd != null)
                    {
                <dt class="col-md-4">В прокаті до:</dt>
                <dd class="col-md-8">@Model.ShowEnd.Value.ToShortDateString()</dd>
                    }

                    if (Model.Language != null)
                    {
                <dt class="col-md-4">Мова:</dt>
                <dd class="col-md-8">@Model.Language</dd>
                    }

                    if (Model.Genres != null)
                    {
                <dt class="col-md-4">Жанри:</dt>
                <dd class="col-md-8">@Model.Genres</dd>
                    }

                    if (Model.Duration != null)
                    {
                <dt class="col-md-4">Тривалість:</dt>
                <dd class="col-md-8">@Model.Duration</dd>
                    }

                    if (Model.Country != null)
                    {
                <dt class="col-md-4">Виробництво:</dt>
                <dd class="col-md-8">@Model.Country</dd>
                    }

                    if (Model.Script != null)
                    {
                <dt class="col-md-4">Сценарій:</dt>
                <dd class="col-md-8">@Model.Script</dd>
                    }

                    if (Model.Starring != null)
                    {
                <dt class="col-md-4">В головних ролях:</dt>
                <dd class="col-md-8">@Model.Starring</dd>
                    }

                    if (Model.Description != null)
                    {
                <dd class="col-md-12" style="padding-top:15px;">@Model.Description</dd>
                    }
                }
            </dl>
        </div>
        <div class="col-md-3">
            <div class="movie-schedule-date">
                <h2 class="text-center">Розклад сеансів:</h2>
                <div class="d-flex justify-content-around csd-select-container">
                    @{ var isFirst = true;}
                    @foreach (var itemSessions in Model.Sessions.Where(xx => xx.DateTime > DateTime.Now).OrderBy(x => x.DateTime).GroupBy(x => x.DateTime.Date))
            {
                var sessionDate = itemSessions.FirstOrDefault().DateTime;
                        <div class="csd-day-container d-flex flex-column align-items-center @(isFirst?" csd-selected":"")" data-date="@sessionDate.ToShortDateString()">
                            <div class="text-center">
                                @if (sessionDate.Date == DateTime.Now.Date)
                                {
                                    <div class="csd-date">Сьогодні</div>
                                    <div class="csd-day-of-week">@($"{dtfi.GetShortestDayName(sessionDate.DayOfWeek)}, {sessionDate.ToString("dd'.'MM", ci)}")</div>

                                }
                                else if (sessionDate.Date == DateTime.Now.AddDays(1).Date)
                                {
                                    <div class="csd-date">Завтра</div>
                                    <div class="csd-day-of-week">@($"{dtfi.GetShortestDayName(sessionDate.DayOfWeek)}, {sessionDate.ToString("dd'.'MM", ci)}")</div>

                                }
                                else
                                {
                                    <div class="csd-date text-capitalize">@dtfi.GetShortestDayName(sessionDate.DayOfWeek)</div>
                                    <div class="csd-day-of-week">@($"{sessionDate.ToString("dd'.'MM", ci)}")</div>
                                }
                            </div>
                        </div>
                        isFirst = false;
                    }
                </div>
            </div>
            <div class="movie-schedule-full text-white">
                @{ isFirst = true;}
                @foreach (var itemSessions in Model.Sessions.Where(xx => xx.DateTime > DateTime.Now).OrderBy(x => x.DateTime).GroupBy(x => x.DateTime.Date))
                {
                    var sessionDate = itemSessions.FirstOrDefault().DateTime;
                    <div class="text-center@(isFirst?" csf-selected":"") csf-data" data-date="@sessionDate.ToShortDateString()">
                        @foreach (var itemSessionsByCinema in itemSessions.GroupBy(x => x.CinemaHall.Cinema))
                        {
                            var cinema = itemSessionsByCinema.FirstOrDefault().CinemaHall.Cinema;
                            <div class="csf-movie-container">
                                <a href="@(Url.Action("Details","Cinema", new { name = cinema.Keyword }))" class="d-block h2">@cinema.Name</a>
                                <div class="csf-movie-times">
                                    @foreach (var itemSession in itemSessionsByCinema)
                                    {
                                        <a href="@Url.Action("Details","Session",new { id = itemSession.Id })">@itemSession.DateTime.ToShortTimeString()</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    isFirst = false;
                }
            </div>
        </div>
    </div>
</div>

<div class="container position-relative movie-comments-container text-white">
    <h3 class="">Коментарі @Model.Comments.Count</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <form id="formComment" action="@Url.Action("UserCommentCreate", "Comment")" method="post">
                <input type="hidden" name="MovieId" value="@Model.Id" />
                <div class="row d-flex flex-row justify-content-around w-100 m-0">
                    <div class="comment-user-img"></div>
                    <div class="comment-textarea">
                        <textarea rows="2" class="form-control" maxlength="1000" name="Text" placeholder="Введи текст повідомлення..." style="resize: none"></textarea>
                    </div>
                </div>
                <div id="formSelect" class="row d-flex flex-row justify-content-end w-100 m-0">

            <button id="addComment" type="button" class="btn yellow-btn">Відправити</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="p-2 text-muted border">Увійди для відправки коментарів</div>
    }
    <div id="comments">
        @foreach (var item in Model.Comments.OrderByDescending(x => x.Id))
        {
            <div class="comment-container p-2 m-2 border-dark row" data-id="@item.Id">
                @{
                    string username = "";

                    if (item.User.FirstName == null && item.User.LastName == null)
                    {
                        username = "Глядач";
                    }
                    else
                    {
                        username = $"{item.User.LastName} {item.User.FirstName}";
                    }
                }
                <b class="col-2">@username</b>
                <div class="col-10">
                    <div>@item.Text</div>
                    @if (item.CommentType != null)
                    {
                        <div class="text-muted">@item.CommentType.Name</div>
                    }
                    @if (item.Cinema != null)
                    {
                        <div class="text-muted">@item.Cinema.Name</div>
                    }
                    @if (item.User.UserName == User.Identity.Name)
                    {
                        <button type="button" class="btn deleteComment">Видалити</button>
                    }
                </div>
            </div>
                    }
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $(".csd-day-container").click(function () {
                if ($(this).hasClass("csd-selected"))
                    return false;

                $(this).siblings(".csd-selected").removeClass("csd-selected");
                $(this).addClass("csd-selected");

                var dataDate = $(this).attr("data-date");
                $(this).parents(".movie-schedule-date").siblings(".movie-schedule-full").find(".csf-data.csf-selected").removeClass("csf-selected").hide().siblings(".csf-data[data-date='" + dataDate + "']").addClass("csf-selected").show();
            });

            if ($("#formComment").length) {
                $.post("@Url.Action("GetCommentTypeJson", "Comment")", function (data) {
                    var selectItem = $("<select/>", { class: "form-control", name: "CommentTypeId" })
                        .append($("<option/>", { value: 0, text: "Не вибрано" }));
                    for (var key in data) {
                        selectItem.append($("<option/>", { value: data[key].Id, text:data[key].Name }));
                    }
                    selectItem.prependTo("#formSelect");
                });
                $.post("@Url.Action("GetCinemaJson", "Cinema")", function (data) {
                    var selectItem = $("<select/>", { class: "form-control", name: "CinemaId" })
                        .append($("<option/>", { value: 0, text: "Не вибрано" }));
                    for (var key in data) {
                        selectItem.append($("<option/>", { value: data[key].Id, text:data[key].Name }));
                    }
                    selectItem.prependTo("#formSelect");
                });
            }

            $("#addComment").click(function (e) {
                var frm = $("#formComment");
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        alert("Коментар відправлений")
                        console.log('Submission was successful.');
                        console.log(data);
                    },
                    error: function (data) {
                        alert("Помилка")
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });
            });
            $(".deleteComment").click(function (e) {
                var commentId = $(this).closest(".comment-container").attr("data-id");
                $.post("@(Url.Action("UserCommentDelete","Comment"))", {
                    id: commentId
                }, function () {
                    alert("Коментар видалений");
                })
            });
        });
    </script>
}
