@model Cinema.Data.Database.Movie
@{
    ViewBag.Title = Model.Name;
}
<h1>@Model.Name</h1>
<img src="@Model.PosterPath" style="max-height: 400px; width:auto;" class="rounded" />

<dl class="row">
    <dt class="col-sm-3">Оригінальна назва</dt>
    <dd class="col-sm-9">@Model.OriginalName</dd>

    <dt class="col-sm-3">Тривалість</dt>
    <dd class="col-sm-9">@Model.Duration</dd>

    <dt class="col-sm-3">Жанри</dt>
    <dd class="col-sm-9">@Model.Genres</dd>

    <dt class="col-sm-3">Опис</dt>
    <dd class="col-sm-9">@Model.Description</dd>
</dl>


<h2>Сеанси</h2>
@{
    foreach (var session in Model.Sessions)
    {
        <div class="list-group">
            <a href="@Url.Action("Details", "Session", new { id = session.Id })" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@session.CinemaHall.Cinema.Name</h5>
                    <small>@session.DateTime.ToString()</small>
                </div>
            </a>
        </div>
    }
}

<h2>Коментарі</h2>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <form id="formComment" action="@Url.Action("UserCommentCreate", "Comment")" method="post">
            <input type="hidden" name="MovieId" value="@Model.Id" />
            <textarea rows="2" class="form-control" maxlength="1000" name="Text" placeholder="Твій коментар" style="resize: none"></textarea>
        </form>
        <button id="addComment" type="button" class="btn">Відправити</button>
    </div>
}
else
{
    <div class="p-2 m-2 text-muted border">Увійдіть для відправки коментарів</div>
}
<div>
    @foreach (var item in Model.Comments.OrderByDescending(x=>x.Id))
    {
        <div class="comment-container p-2 m-2 border-dark row" data-id="@item.Id">
            @{ 
                string username="";

                if (item.User.FirstName == null && item.User.LastName == null)
                {
                    username = "Глядач";
                }
                else
                {
                    username = $"{item.User.LastName} {item.User.FirstName}";
                }
            }
            <b class="col-2">@username</b>
            <div class="col-10">
                <div>@item.Text</div>
                @if (item.CommentType != null)
                {
                    <div class="text-muted">@item.CommentType.Name</div>
                }
                @if (item.Cinema != null)
                {
                    <div class="text-muted">@item.Cinema.Name</div>
                }
                @if (item.User.UserName == User.Identity.Name)
                {
                    <button type="button" class="btn deleteComment">Видалити</button>
                }
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(function () {

            if ($("#formComment").length) {
                $.post("@Url.Action("GetCommentTypeJson", "Comment")", function (data) {
                    var selectItem = $("<select/>", { class: "form-control", name: "CommentTypeId" })
                        .append($("<option/>", { value: 0, text: "Не вибрано" }));
                    for (var key in data) {
                        selectItem.append($("<option/>", { value: data[key].Id, text:data[key].Name }));
                    }
                    selectItem.appendTo("#formComment");
                });
                $.post("@Url.Action("GetCinemaJson", "Cinema")", function (data) {
                    var selectItem = $("<select/>", { class: "form-control", name: "CinemaId" })
                        .append($("<option/>", { value: 0, text: "Не вибрано" }));
                    for (var key in data) {
                        selectItem.append($("<option/>", { value: data[key].Id, text:data[key].Name }));
                    }
                    selectItem.appendTo("#formComment");
                });
            }

            $("#addComment").click(function (e) {
                var frm = $("#formComment");
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        alert("Коментар відправлений")
                        console.log('Submission was successful.');
                        console.log(data);
                    },
                    error: function (data) {
                        alert("Помилка")
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });
            });
            $(".deleteComment").click(function (e) {
                var commentId = $(this).closest(".comment-container").attr("data-id");
                $.post("@(Url.Action("UserCommentDelete","Comment"))", {
                    id: commentId
                }, function () {
                    alert("Коментар видалений");
                })
            });
        });
    </script>
}